
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark navbarcolor border-bottom box-shadow mb-3 fixed-topcustom">
    <div class="container">

        <a class="navbar-brand" href="inicio">
            <img src="Img/minilogo.png" />
        </a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex flex-sm-row-reverse" @onclick="CollapseNavMenu">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <NavLink class="nav-link" href="inicio" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Inicio
                    </NavLink>
                </li>
                <AuthorizeView Roles="Administrador">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="indice-cursos">
                            <span class="fa fa-folder-open" aria-hidden="true"></span>&nbsp;Cursos
                        </NavLink>
                    </li>
                </AuthorizeView>
                <li class="nav-item">
                    <NavLink class="nav-link" href="indice-quiz">
                        <span class="fa fa-question" aria-hidden="true"></span>&nbsp;Quiz
                    </NavLink>
                </li>
                <AuthorizeView Roles="Administrador">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="usuarios">
                            <span class="fa fa-user-plus" aria-hidden="true"></span>&nbsp;Usuarios
                        </NavLink>
                    </li>
                </AuthorizeView>
            </ul>
        </div>

    </div>
    <div>
        <EnlacesLogin />
    </div>
</nav>


@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void CollapseNavMenu()
    {
        collapseNavMenu = true;
    }
}

