@inject ViewOptionService ViewOption

@if (ViewOption.IsNavigationVisible)
{
    @*<button @onclick="ViewOption.Toggle" class="btn btn-primary">
    <span class="oi oi-collapse-left" aria-hidden="true"></span> 
    Hide Menu
    </button>*@ 
    <div class="navbar navbar-dark">   
        <button class="togglediseño" @onclick="ViewOption.Toggle">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div> 
}
else
{
    @*<button @onclick="ViewOption.Toggle" class="btn btn-primary">
    <span class="oi oi-collapse-right" aria-hidden="true"></span> 
    Show Menu
    </button>*@

    <div class="navbar navbar-dark">   
        <button class="togglediseño" @onclick="ViewOption.Toggle">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div> 
}


