@inherits SimComponentBase

<div class="@Classname">
    <div class="row align-items-center justify-content-between">
        <div class="col-6 col-sm-auto d-flex align-items-center pr-0">
            <Texto Typo="Typo.h5" Class="fs-0 mb-0 text-nowrap py-2 py-xl-0">
                @Titulo
            </Texto>         
        </div>

        <div class="col-6 col-sm-auto ml-auto text-right pl-0">
            <div class="d-none"></div>          

            <div>     
                @AreadeBotones

                @switch (AccionesTablaBtn)
                {
                    case AccionesTabla.Nuevo:
                        <Enlace Href="@Url" Class="btn btn-outline-primary btn-sm">
                            <Icono Icon="fas fa-plus" data-fa-transform="shrink-3 down-2" />
                            <Texto Typo="Typo.normal" Class="d-none d-sm-inline-block ml-1"> Crear</Texto>
                        </Enlace>
                        break;
                    case AccionesTabla.Exportar:
                        <Boton ButtonType="ButtonType.Button" Class="btn btn-outline-primary btn-sm">
                            <Icono Icon="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2" />
                            <Texto Typo="Typo.normal" Class="d-none d-sm-inline-block ml-1"> Exportar</Texto>
                        </Boton>
                        break;
                    case AccionesTabla.Filtrar:
                        <Boton ButtonType="ButtonType.Button" Class="btn btn-outline-primary btn-sm">
                            <Icono Icon="fas fa-filter" data-fa-transform="shrink-3 down-2" />
                            <Texto Typo="Typo.normal" Class="d-none d-sm-inline-block ml-1"> Filtrar</Texto>
                        </Boton>
                        break;
                    case AccionesTabla.Custom:
                        <Enlace Href="@Url" Class="btn btn-outline-primary btn-sm">
                            <Icono Icon="fas fa-plus" data-fa-transform="shrink-3 down-2" />
                            <Texto Typo="Typo.normal" Class="d-none d-sm-inline-block ml-1"> @TituloBtn</Texto>
                        </Enlace>
                        break;
                }
            </div>
        </div>
    </div>
</div>
