<footer class="navbarcolor mt-auto fixed-bottom top-row px-4 ocultar-div">
    <div>
        <div class="align-items-center justify-content-between small">
            <div class="text-white text-center">Copyright &copy; Simsa, Innovación 2022</div>
        </div>
    </div>
</footer>



